<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring Boot - 国际化</title>
</head>
<body>
<img src="sunny_pure.jpg" alt="图片" title="Trimer" width="50" style="float: left top;"></img>
<h1>Spring Boot - 国际化</h1>
<br/>
<a href="/?lang=zh_CH">中文</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/?lang=en_US">ENGLISH</a>

<h3 th:text="${spring_cloud_feature}"></h3>
<br/>
<br/>
<br/>
<a href="https://github.com/itrimer/spring-boot-dev/tree/master/spring-boot-2">Spring Boot国际化</a>
<br/>

<br/>
</body>
</html>